/*
 * Full Name: Samarpreet Singh
 * Student #: 200510621
 * CRN: 11346 (Monday, 9am class)
 * Assignment 1 - COMP 1011
 */

.root{ /* will be applied to everything in the highest level container */
    -fx-font-size: 20px;
    -fx-font-family: sans-serif;
    -fx-background-image: url("images/background.jpg");
    -fx-background-size: cover;
}

.label {
    -fx-text-fill: #ffffff;
}

/* Button Styles */
.button {
    -fx-background-radius: 30;
    -fx-font-weight: bold;
    -fx-border-radius: 30;
    -fx-font-size: 14px;
    -fx-padding: 10 20;
    -fx-text-fill: #ffffff;
    -fx-background-color: #4CAF50;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #45a049;
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.5), 5, 0, 0, 0);
}

.button:pressed {
    -fx-background-color: #357d38;
}

.chart-legend {
    -fx-background-color: #8503f9;
}

.table-view {
    -fx-background-color: #d3adff;
}

.table-column {
    -fx-background-color: #e3ceff;
    -fx-font-size: 14px;
    -fx-alignment: center;
}

.table-view .column-header .label {
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

.scroll-bar:vertical {
    -fx-background-color: #fdf2c5;
}

.increment-button, .decrement-button {
    -fx-background-color: #f589cd;
    -fx-background-radius: 2px;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #c1aef6;
    -fx-background-radius: 8px;
}

.table-view .column-header-background .filler {
    -fx-background-color: #e3ceff;
    -fx-padding: 1em;
}
